/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(135deg, #5b6947, #cafcc3);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    & img {
    height: 80%;
    width: auto;
    margin-left: 10px;
    border-radius: 50%;
    border: 3px solid var(--p5);
}
}

h2 {
    margin-bottom: 25px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: bold;
    color: #555;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.3s ease;
    width: 100%;
}

input[type="text"],
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #4CAF7A;
    outline: none;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF7A;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a069;
}

#loginMsg {
    margin-top: 15px;
    font-weight: bold;
    color: #d32f2f;
    font-size: 14px;
}
