* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


header {
    width: 100%;
    background-color: #F8D7D2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo-container {
    margin-bottom: 10px; 
}

.logo-container img {
    border-radius: 100px;
    height: 80px; 
    width: auto; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #F8D7D2;
}

section {
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}

img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}


@media screen and (max-width: 768px) {
    nav ul {
        gap: 10px;
    }

    nav a {
        font-size: 16px;
    }

    section {
        width: 90%;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}